@import '~bootstrap/scss/bootstrap';

body {
    background-color: #0d6efd;
}

nav {
    background-color: #ffc107;
}

.jumbo {
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.icon-images {
    width: 30px;
    height: 30px;
}

.logo_deliveboo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 70%;
    }
}