@import '~bootstrap/scss/bootstrap';

.jumbo {
    img {

        width: 100%;
        height: 300px;
        object-fit: contain;
       
    }
}


.icon-images {
    width: 30px;
    height: 30px;
    
}


